.team_wrapper .card {
  position: relative;
  overflow: hidden;
}

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Background Color */
  --primary-color: #021832;
  --secondary-color: #caa169;
  --bg-color: #f4f4f4;
  --bg-white: #fff;
  --bg-black: #000;

  /* Text Style */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Oswald', sans-serif;
  --primary-text: #021832;
  --secondary-text: #caa169;
  --text-white: #fff;
  --text-black: #151515;
  --text-gray: #e4e4e4;
}

* {
  background-color: var(--primary-color);
}

h3 {
  margin-bottom: 1.875rem;
  line-height: 2.875rem;
  font-weight: 700;
  font-size: 24px;
  color: var(--bg-white);
  font-family: var(--secondary-font);
}

h3 span {
  color: var(--secondary-text);
}

h5 {
  font-size: 2rem;
  line-height: 1;
  color: var(--primary-text);
  margin-bottom: .9375rem;
  font-weight: 500;
  font-family: var(--secondary-font);
  background-color: none;
}

h6 {
  font-size: .875rem;
  color: var(--primary-text);
  margin-bottom: .9375rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--secondary-font);
}

.team_wrapper .team-info {
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 1.25rem;
  margin-bottom: -4.6875rem;
  transition: all 0.3s ease-in-out;
}

.team_wrapper .card:hover .team-info {
  margin-bottom: 0;
}

.team_wrapper .team-info h5,
.team_wrapper .team-info p {
  color: var(--text-white);
}

.team_wrapper .team-info .social-network {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.25rem;
  margin: 1.25rem -1.25rem -1.25rem;
  background-color: var(--primary-color);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team_wrapper .team-info .social-network li a {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: block;
  border-radius: 50%;
  font-size: .9375rem;
  color: var(--text-white);
  border: .0625rem solid var(--bg-white)
}
